@model BankApp.Application.DtoObjects.AccountDto

<div class="account-container">
    <h1>Konto @Model.AccountId</h1>

    <table>
        <thead>
            <tr>
                <th>Transaction Id</th>
                <th>Date</th>
                <th>Type</th>
                <th>Operation</th>
                <th>Amount</th>
                <th>Balance</th>
                <th>Symbol</th>
                <th>Bank</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var transaction in Model.Transactions)
            {
            <tr>
                <td>@transaction.TransactionId</td>
                <td>@transaction.Date</td>
                <td>@transaction.Type</td>
                <td>@transaction.Operation</td>
                <td>@transaction.Amount</td>
                <td>@transaction.Balance</td>
                <td>@transaction.Bank</td>
            </tr>
            }
        </tbody>
    </table>
</div>