@model WebUI.ViewModels.SearchCustomerViewModel

@{ 
    var pageNr = Model.PageNr;
    var nextPage = pageNr+1;
    var prevPage = pageNr-1;
}

<div>
    <div class="CustomerList">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>SSN</th>
                    <th>Adress</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var customer in Model.Customers)
                {
                    <tr>
                        <td>@customer.CustomerId</td>
                        <td>@customer.Givenname @customer.Surname</td>
                        <td>@customer.NationalId</td>
                        <td>@customer.Streetaddress @customer.Zipcode @customer.City</td>
                        <td><a class="btn-show-customer" asp-action="ShowCustomer" asp-controller="Customer" asp-route-id=@customer.CustomerId>View customer</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="search-pagination">
        @if (nextPage <= Model.TotalPages)
        {
            <a class="btn-pagination" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#CustomerList" asp-route-name=@Model.Name asp-route-city=@Model.City asp-route-amount=@Model.Amount asp-route-pagenr="@nextPage" data-ajax-loading="#spinner" role="button">Next page</a>
        }

        @if (prevPage >= 0)
        {
            <a class="btn-pagination" data-ajax="true" data-ajax-mode="replace" data-ajax-update="#CustomerList" asp-route-name=@Model.Name asp-route-city=@Model.City asp-route-amount=@Model.Amount asp-route-pagenr="@prevPage" data-ajax-loading="#spinner" role="button">Previous page</a>
        }
    </div>
</div>