@model WebUI.ViewModels.Account.AccountTransactionsViewModel
@using System.Globalization

@foreach (var transaction in Model.Transactions)
{
    <tr>
        <td>@transaction.TransactionId</td>
        <td>@transaction.Date.ToShortDateString()</td>
        <td>@transaction.Type</td>
        <td>@transaction.Operation</td>
        <td>@transaction.Amount.ToString("C", CultureInfo.CurrentCulture)</td>
        <td>@transaction.Balance.ToString("C", CultureInfo.CurrentCulture)</td>
        <td>@transaction.Symbol</td>
        <td>@transaction.Bank</td>
    </tr>
}   