@model WebUI.ViewModels.Account.AccountTransactionsViewModel
@using System.Globalization

@{ 
    var nextPage = Model.PageNr + 1;
}

@foreach (var transaction in Model.Transactions)
{
    <tr>
        <td>@transaction.TransactionId</td>
        <td>@transaction.Date.ToShortDateString()</td>
        <td>@transaction.Type</td>
        <td>@transaction.Operation</td>
        <td>@transaction.Amount.ToString("C", CultureInfo.GetCultureInfo("en-SE"))</td>
        <td>@transaction.Balance.ToString("C", CultureInfo.GetCultureInfo("en-SE"))</td>
        <td>@transaction.Symbol</td>
        <td>@transaction.Bank</td>
    </tr>
}
<tr id="button-row">
    <td><a class="btn-pagination" data-ajax="true" data-ajax-mode="REPLACE-WITH" data-ajax-update="#button-row" asp-route-accountid=@Model.Account.AccountId asp-route-pagenr=@nextPage data-ajax-loading="#spinner" role="button">Load more</a></td>
</tr>

@*<div class="search-pagination">
    @if (Model.NextPage <= Model.TotalPages)
    {
        <a class="btn-pagination" data-ajax="true" data-ajax-mode="replace" data-ajax-update=".search-pagination" asp-route-accountid=@Model.Account.AccountId asp-route-pagenr=@nextPage data-ajax-loading="#spinner" role="button">Load more</a>
    }
</div>*@